<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <!-- 数据库连接配置信息-->
  <providers resource="providers.config"/>  	
	<database>
		<provider name="SQLite3"/>
		<dataSource name="db" connectionString="E:\AppLib\DreamWorkFlow\src\Bin\db.db"/>
	</database>
  <!-- XML映射文件配置信息-->
	<sqlMaps>
			<sqlMap resource="Workflow.xml" />		
	</sqlMaps>
</sqlMapConfig>